<div style=" width: 100%; height: 100%; background-image: url('assets/images/backPic.jpeg');">

  <amexio-layout-columns [orientation]="'vertical'" [border]="false" [alignment]="'center'">
    <amexio-layout-item>
      <amexio-layout-columns [fit]="true" [orientation]="'horizontal'" [border]="false" [alignment]="'center'">
        <amexio-layout-item> &nbsp;</amexio-layout-item>
        <amexio-layout-item style="min-width: 300px;">

          <amexio-card-ce>

            <amexio-header-ce [border-bottom]="true">
              <amexio-label size="large-bold">
                Login
              </amexio-label>
            </amexio-header-ce>

            <amexio-body-ce>
              <amexio-layout-columns style="font-size:2em;" [border]="false" [fit]="true" [alignment]="'start'"
                                     [orientation]="'vertical'">
                <amexio-layout-item>
                  <amexio-text-input [field-label]="'User Id'" [(ngModel)]="loginModel.userId" [allow-blank]="false" [place-holder]="'Please enter Admin As User Id'"></amexio-text-input>
                  <amexio-password-input [field-label]="'Password'" [(ngModel)]="loginModel.password" [place-holder]="'Please enter Admin As Password'"
                                         [allow-blank]="false"> </amexio-password-input>
                </amexio-layout-item>
                <amexio-layout-item>
                  <amexio-checkbox [field-label]="'Subscribe to newsletter'"></amexio-checkbox>
                </amexio-layout-item>
                 <amexio-layout-item>
                    <span (click)="onAddUserHandle()" style="cursor: pointer;font-size: 15px;color:blue;text-decoration:underline;margin-left:70%">Add User</span>
                  </amexio-layout-item>
                <amexio-layout-item>
                  <amexio-button [label]="'Get Started'" [type]="'yellow'" [tooltip]="'Get Started'" [block]="true"
                                 (onClick)="onLoginHandle()">
                  </amexio-button>
                </amexio-layout-item>
              </amexio-layout-columns>
            </amexio-body-ce>
          </amexio-card-ce>

        </amexio-layout-item>
        <amexio-layout-item> &nbsp;</amexio-layout-item>
      </amexio-layout-columns>

    </amexio-layout-item>
  </amexio-layout-columns>
</div>
